*{
    padding: 0;
    margin: 0;
}

/* css til loading bar på index.html - mathias */
.wrapper{
  width: auto;
  height: 375px;
  background-color: black;
}

h1{
  text-align: center;
  vertical-align: middle;
  line-height: 335px;
  font-family: ;
  font-size: 50px;
  color: white;
}

#loading {
  width: 100%;
  background-color: grey;
}

#progress {
  width: 1%;
  height: 25px;
  background-color: white;
  text-align: right;
  line-height: 25px;
}

/*============================================== Bank page - Jeppe Skoett =======================================================================*/

.buyoptions{
    height: 0.01px;
    width: auto;
}

.buy{
    background-color: black;
    height: 100px;
    width: 991px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.buy p{
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 25px;
    font-family: sans-serif;
    font-size: 45px;
    color: white;
    position: relative;
}

.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.paneltxt{
    font-size: 2em;
    font-family: sans-serif;
}

.active, .buy:hover{
    background-color: dimgray;
}

#treasure{
    float: right;
    max-width: 100%;
    padding-top: 35px;
    padding-right: 10px;
    position: relative;
}

.backbtn{
    position: absolute;
}

/*Settings - Andreas*/

.background {
    background-color: darkblue;
    height: 100%;
    width: 100%;
}

.sound {
    background-color: palevioletred;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    height: 75px;
    width: 275px;
    margin-top: 3%;
    left: 5%;
}

.sound h2 {
    color: white;
    margin-top: 2%;
    margin-right: 21%;
    margin-left: 21%;
}

.animation {
    background-color: palevioletred;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    height: 75px;
    width: 275px;
    margin-top: 3%;
    right: 5%;
}

.animation h2 {
    color: white;
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 18%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sound label {
    margin-left: 42%;
    margin-right: 46%;
}

.animation label {
    margin-left: 42%;
    margin-right: 46%;
}

.login {
    background-color: palevioletred;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    height: 160px;
    width: 350px;
    margin-top: 18%;
    left: 23%;
}

.login h2 {
    color: white;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 33.5%;
}

.login p {
    color: white;
    margin-top: 5%;
    margin-right: 24%;
    margin-left: 25.5%;
}

.login form {
    margin-top: 3%;
    margin-right: 29%;
    margin-left: 29%;
}

.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    text-align: center;
    height: 15px;
    color: white;
    font-size: 15px;
}

.login input[type="submit"] {
    margin-top: 3%;
    margin-left: 40%;
    border: none;
    outline: none;
    background: #4d94ff;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

.backbutton {
    position: fixed;
    margin-top: 46%;
}

/*SoMe - Andreas*/

.friends h2 {
    color: white;
    font-family: sans-serif;
    margin-top: 1%;
    margin-left: 70.5%;
    margin-right: 12.5%;
    border-bottom: 2px groove #fff;
    border-radius: 7px;
    text-align: center;
    position: fixed;
}

.friendlist {
    background-color: palevioletred;
    height: 325px;
    width: 275px;
    border-style: groove;
    border-radius: 25px;
    margin-left: 56%;
    margin-top: 6.5%;
    overflow: auto;
    position: fixed;
}

.friend {
    background-color: palevioletred;
    height: 46.42px;
    margin-top: 12%;
    text-align: center;
    color: white;
    border-bottom: 2px groove #fff;
}

.box {
    background-color: palevioletred;
    height: 250px;
    width: 325px;
    border-style: groove;
    border-radius: 25px;
    position: fixed;
    margin-left: 1.5%;
    margin-top: 6.5%;    
}

.yourtown h2 {
    color: white;
    font-family: sans-serif;
    margin-top: 1%;
    margin-left: 18%;
    margin-right: 57%;
    border-bottom: 2px groove #fff;
    border-radius: 7px;
    text-align: center;
    position: fixed;
}

.town {
    background-color: palevioletred;
    height: 190px;
    width: 310px;
    border-style: groove;
    border-radius: 25px;
    position: fixed;
    margin-left: 0.75%;
    margin-top: 0.5%;
}

.someshare {
    background-color: palevioletred;
    height: 40px;
    width: 310px;
    border-style: groove;
    border-radius: 25px;
    position: fixed;
    margin-top: 30.3%;
    margin-left: 0.75%;
}