*{
    padding: 0;
    margin: 0;
}

/* css til loading bar på index.html - mathias */
.wrapper {
  width: auto;
  height: 375px;
  background-color: black;
}

.wrapper1 {
  width: auto;
  height: 375px;
  background-image: url("images/city.png");
}

.index_box {
  width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 40%);
  padding: 5%;
  border: solid white;
}

.index_box_styleguide {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  transform: translate(0%, 45%);
  border: solid white;
}

.index_box h1 {
  color: #F0F8FF;
  font-family: 'Carter One', cursive;
  font-size: 30px;
}

.index_box_styleguide h2 {
  color: #F0F8FF;
  font-family: 'Carter One', cursive;
}

#logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

h3 {
  text-align: center;
  font-family: 'Carter One', cursive;
  font-size: 35px;
  color: #F0F8FF;
  padding: 2.5%;
}

#loading {
  width: 100%;
  background-color: grey;
}

#progress {
  width: 1%;
  height: 25px;
  background-color: white;
  text-align: right;
  line-height: 25px;
}


/*============================================== Bank page - Jeppe Skoett =======================================================================*/

.buyoptions{
    height: 0.01px;
    width: auto;
}

.buy{
    background-color: black;
    height: 100px;
    width: 991px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.buy p{
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 25px;
    font-family: 'Carter One', cursive;
    font-size: 45px;
    color: #F0F8FF;
    position: relative;
}

.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.paneltxt{
    font-size: 2em;
    font-family: 'Carter One', cursive;
    color: black;
}

.active, .buy:hover{
    background-color: dimgray;
}

#treasure{
    float: right;
    max-width: 100%;
    padding-top: 35px;
    padding-right: 10px;
    position: relative;
}

.backbtn{
    position: absolute;
}


/*Settings - Andreas*/

.back{
    background-image: url(/images/city.png);
}

.sound {
    background-color: dimgrey;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    height: 75px;
    width: 275px;
    margin-top: 3%;
    left: 5%;
}

.sound h2 {
    color: #F0F8FF;
    margin-top: 0.5%;
    margin-right: 21%;
    margin-left: 25%;
    font-family: 'Carter One', cursive;
}

.animation {
    background-color: dimgrey;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    height: 75px;
    width: 275px;
    margin-top: 3%;
    right: 5%;
}

.animation h2 {
    color: #F0F8FF;
    margin-top: 0.5%;
    margin-right: 15%;
    margin-left: 20%;
    font-family: 'Carter One', cursive;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #F0F8FF;
  transition: .4s;
}

input:checked + .slider {
  background-color: slategrey
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sound label {
    margin-left: 42%;
    margin-right: 46%;
}

.animation label {
    margin-left: 42%;
    margin-right: 46%;
}

.login {
    background-color: dimgrey;
    position: fixed;
    border-radius: 25px;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    height: 160px;
    width: 350px;
    margin-top: 18%;
    left: 23%;
}

.login h2 {
    color: white;
    margin-top: 1%;
    margin-right: 30%;
    margin-left: 36.5%;
    font-family: 'Carter One', cursive;
    color: #F0F8FF;
}

.login p {
    color: white;
    margin-top: 2%;
    margin-right: 18.5%;
    margin-left: 23.5%;
    font-family: 'Carter One', cursive;
    color: #F0F8FF;
}

.login form {
    margin-top: 3%;
    margin-right: 29%;
    margin-left: 29%;
}

.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    text-align: center;
    height: 15px;
    font-size: 15px;
    font-family: 'Carter One', cursive;
    color: #F0F8FF;
}

.login input[type="submit"] {
    margin-top: 3%;
    margin-left: 40%;
    border: none;
    outline: none;
    background: #4d94ff;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Carter One', cursive;
    color: #F0F8FF;
}

.backbutton {
    position: fixed;
    margin-top: 46.3%;
}

/*SoMe - Andreas*/

.friends h2 {
    color: #F0F8FF;
    font-family: 'Carter One', cursive;
    margin-top: 0.5%;
    margin-left: 70.5%;
    margin-right: 12.5%;
    border-bottom: 2px groove #fff;
    border-radius: 7px;
    text-align: center;
    position: fixed;
}

.friendlist {
    background-color: dimgrey;
    height: 325px;
    width: 275px;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    margin-left: 56%;
    margin-top: 6.5%;
    overflow: auto;
    position: fixed;
}

.friend {
    background-color: dimgrey;
    height: 46.42px;
    margin-top: 12%;
    text-align: center;
    color: #F0F8FF;
    border-bottom: 2px groove #fff;
    cursor: pointer;
    font-family: 'Carter One', cursive;
}

.box {
    background-color: dimgrey;
    height: 250px;
    width: 325px;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    position: fixed;
    margin-left: 1.5%;
    margin-top: 6.5%;
}

.yourtown h2 {
    color: #F0F8FF;
    font-family: 'Carter One', cursive;
    margin-top: 0.5%;
    margin-left: 18%;
    margin-right: 57%;
    border-bottom: 2px groove #fff;
    border-radius: 7px;
    text-align: center;
    position: fixed;
}

.town {
    background-color: dimgrey;
    height: 190px;
    width: 310px;
    border-style: groove;
    border-radius: 25px;
    position: fixed;
    margin-left: 0.75%;
    margin-top: 0.5%;
}

.someshare {
    background-color: dimgrey;
    height: 40px;
    width: 310px;
    border-style: groove;
    border-radius: 25px;
    position: fixed;
    margin-top: 30.3%;
    margin-left: 0.75%;
}

#share {
	width: 100%;
  	text-align: center;
}

#share a {
	width: 35px;
  	height: 35px;
  	display: inline-block;
  	margin: 3px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

#share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.facebook {
 	background: #000;
}

.twitter {
  	background: #000;
}

.youtube {
  	background: #000;
}

/*Citymap*/

#demo {

    position: fixed;
    top: 5%;
    left: 75%;
    float: left;
    margin: 5px;
    color: #F0F8FF;
    font-size: 30px;
    font-family: 'Carter One', cursive;
}
